.page_body {
  background-image: url("../img/background2.1.jpg");
  min-height: 450px;
  padding: 20px 0 20px 0; }
  .page_body .blue_wrap {
    background-color: rgba(132, 129, 136, 0.62);
    padding-bottom: 20px;
    color: #e1e1e1; }

/*
index
 */
.header_hidden {
  visibility: hidden;
  position: absolute; }

.index_wrapper_1 {
  background-image: url("../img/bancground.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: no-repeat; }
  .index_wrapper_1 .index_wrapper_2 {
    background-color: rgba(132, 129, 136, 0.62);
    padding: 50px;
    width: 100%;
    height: 100%; }
    .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 {
      border: 60px solid rgba(132, 129, 136, 0.62);
      border-radius: 120px;
      height: 100%; }
      .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 .center {
        border-left: 2px solid white;
        border-right: 2px solid white;
        text-align: center;
        margin-top: 3%;
        height: 80%;
        padding-top: 90px; }
      .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 .side {
        margin-top: 3%;
        text-align: center;
        padding-top: 90px; }
      .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 .left {
        border-right: 2px solid white; }
      .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 .right {
        border-left: 2px solid white; }
      .index_wrapper_1 .index_wrapper_2 .index_wrapper_3 h3 {
        color: white;
        font-family: 'Orbitron', sans-serif; }

.hovered {
  background-color: black !important;
  color: black !important; }

#zoomer:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2); }

#shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
/* menu styles */
.header_background {
  background-color: #61605e;
  border-bottom: 5px solid #242420;
  padding: 20px 0 0 0; }

.fredericka_font {
  font-family: 'Fredericka the Great', cursive;
  text-align: center; }

.block-menu h1 {
  margin-left: 50%;
  font-family: 'Fredericka the Great', cursive; }
.block-menu ul {
  margin: 0; }
.block-menu li {
  display: inline-block;
  width: 205px; }
  .block-menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 24px;
    padding: 15px 10px; }

a.three-d {
  width: 205px !important; }

.three-d {
  perspective: 200px !important;
  transition: all .07s linear;
  position: relative;
  cursor: pointer; }

.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg); }

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

.front {
  transform: rotatex(0deg) translatez(25px); }

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #ffe7c4; }

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #242420;
  padding: 15px 10px;
  color: white;
  pointer-events: none;
  box-sizing: border-box; }

/*
Footer
 */
.footer_body {
  background-color: black;
  color: white;
  border-top: 2px solid #61605e; }
  .footer_body p {
    margin: 0; }
  .footer_body a {
    color: white; }
  .footer_body .footer_contact {
    text-align: right; }
    .footer_body .footer_contact i.fab {
      font-size: 30px;
      color: white; }
    .footer_body .footer_contact i.fab.fa-facebook-square:hover {
      color: #4267b2; }
    .footer_body .footer_contact i.fab.fa-linkedin:hover {
      color: #0077b5; }
    .footer_body .footer_contact i.fab.fa-github-square:hover {
      color: red; }

/*
Portfolio
 */
.portfel a {
  color: white;
  margin-left: 10px; }
  .portfel a i {
    color: black; }

/*
CV
 */
th, h2, h6 {
  color: black; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  table td, table th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px; }

.button {
  border-radius: 4px;
  background-color: #242420;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s; }

.button:hover span {
  padding-right: 25px; }

.button:hover span:after {
  opacity: 1;
  right: 0; }

.left-side-bar {
  clear: both;
  width: 32%;
  text-align: center;
  float: left;
  margin-top: 1%;
  margin-bottom: 100px; }

.middle-side-bar {
  width: 32%;
  text-align: center;
  float: left;
  margin: 1% 0 1% 1.6%; }

.right-side-bar {
  width: 32%;
  text-align: center;
  float: left;
  margin: 1% 0 1% 1.6%; }

.animate-wrapper {
  background-color: #454545;
  width: 100%;
  height: 400px;
  position: relative; }
  .animate-wrapper .container-animate {
    background-color: red;
    position: absolute;
    width: 0;
    height: 0;
    text-align: center; }
  .animate-wrapper #animate_1 {
    left: calc(15% - 100px); }
  .animate-wrapper #animate_2 {
    left: calc(25% - 100px); }
  .animate-wrapper #animate_3 {
    left: calc(15% - 100px); }
  .animate-wrapper #animate_4 {
    left: calc(50% - 100px); }
  .animate-wrapper #animate_5 {
    left: calc(50% - 100px); }
  .animate-wrapper #animate_6 {
    left: calc(50% - 100px); }
  .animate-wrapper #animate_7 {
    right: calc(15% - 100px); }
  .animate-wrapper #animate_8 {
    right: calc(25% - 100px); }
  .animate-wrapper #animate_9 {
    right: calc(15% - 100px); }
  .animate-wrapper .bird {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 60px;
    background-color: black;
    border-radius: 40%; }
    .animate-wrapper .bird .bird_eye_left {
      position: absolute;
      top: 10px;
      left: calc(20% - 10px);
      background-color: #f9f3ff;
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .animate-wrapper .bird .bird_eye_right {
      position: absolute;
      top: 10px;
      right: calc(20% - 10px);
      background-color: #f9f3ff;
      width: 20px;
      height: 20px;
      border-radius: 50%; }
    .animate-wrapper .bird .bird_beak {
      position: absolute;
      bottom: 10px;
      left: calc(50% - 10px);
      background-color: yellow;
      width: 20px;
      height: 20px;
      border-radius: 50%; }
  .animate-wrapper #bird_1 {
    left: calc(15% - 100px); }
  .animate-wrapper #bird_2 {
    left: calc(25% - 100px); }
  .animate-wrapper #bird_3 {
    left: calc(50% - 100px); }
  .animate-wrapper #bird_4 {
    right: calc(15% - 100px); }
  .animate-wrapper #bird_5 {
    right: calc(25% - 100px); }

@media screen and (max-width: 990px) {
  .index_wrapper_3 {
    border: none !important; }
    .index_wrapper_3 .center, .index_wrapper_3 .left, .index_wrapper_3 .right {
      border-left: none !important;
      border-right: none !important; }

  .fb-page span {
    margin: 20px 0 20px 0; } }
.bird_eye_left {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation-name: shakeMe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes shakeMe {
  2%, 18% {
    transform: translate3d(-5px, 0, 0); }
  4%, 16% {
    transform: translate3d(5px, 0, 0); }
  6%, 10%, 14% {
    transform: translate3d(-5px, 0, 0); }
  8%, 12% {
    transform: translate3d(5px, 0, 0); }
  18.1% {
    transform: translate3d(0px, 0, 0); } }

/*# sourceMappingURL=style.css.map */
